[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

ipython = "*"


[packages]

django = "*"
pillow = "*"
django-allauth = "*"
django-crispy-forms = "*"
